/* universal Style */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* header style */

#header{

    background-color: rgba(255, 144, 14, 0.1);
}

/* header navigation Style */

#navigation{

display: flex;
justify-content: space-between;
}

#navigation_text{

    font-weight: 700;
    font-size: 40px;
    margin: 50px;
}

#navigation_list{

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

#navigation_list a{

    font-weight: 500;
    font-size: 18px;
    color: #424242;
    text-decoration: none;
    display: block;
    padding:30px ;
}

/* header banner style */

#banner{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner_title_one{

    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-top: 116px;
}
.banner_title_two{

    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-bottom: 32px;
}

.banner_summary{

    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 10px;
}

#banner_button{

    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FF900E;
    border:none;
    width: 160px;
    height: 50px;
    border-radius: 8px;
    margin-top: 32px;
    margin-bottom: 50px;
}

#banner_image{

    width: 80%;
    height: 60%;
    border-radius: 8px;
    display: block;
    padding-bottom: 30px;
}

/* quick lists of our features section */

.features-quick-lists{

    display: flex;
    justify-content:center;
    align-items: center;
    margin: 130px 150px;
    gap:30px;
}

.features-quick-lists-images{

    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}

.features-quick-lists-image{

    width: 290px;
    height: 260px;
    border-radius: 8px;
}

.features-quick-lists-title{

    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

/* features quick lists title words color */

.quick_list_word{

    color: #727272;
    font-weight: 500;
}
.features_word{

    color:#FF900E;
}
/* --------------------------------------- */

.features-quick-lists-summary{
    font-weight: 400;
    font-size: 12px;
    color: #727272;
    margin-bottom: 28px;
}

.features-quick-lists-button{
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FF900E;
    border:none;
    width: 160px;
    height: 50px;
    border-radius: 8px;
}


/* descriptions of features section */

.descriptions-of-features{

    display: flex;
    gap:70px;
    align-items: center;
    justify-content: center;
    margin: 130px 31px 130px 90px;
}

.features-title{

    font-weight: 800;
    font-size: 40px;
    color: #131313;
    border-left: 4px solid #FF900E;
    margin-bottom: 24px;
    padding-left: 15px;
    margin-right: 146px;
}

.features-summary{

    font-weight: 400;
    font-size: 14px;
    color: #727272;
    margin-bottom: 30px;
}

.feature{

    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 30px;
}

.feature-title{

    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 7px;
}

.feature-summary{

    font-weight: 400;
    font-size: 14px;
    color: #727272;
}

.features-image img{

    width: 620px;
    height: 870px;
    border-radius: 8px;
    display: block;
}
.experience-button{

    width: 240px;
    height: 150px;
    background: #FF900E;
    border-radius: 8px;
    padding: 35px;
    color: #FFFFFF;
    border: none;
    position: relative;
    text-align: center;
    right: 50px;
    bottom: 110px;
}

/* experience button word color */

.year-word{

    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
}


/* facts section */

.facts_title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-left: 120px;
    margin-bottom: 24px;
}

.facts_summary{
    font-weight: 400;
    font-size: 13px;
    color: #727272;
    margin-left: 120px;
    margin-right: 700px;
}

.descriptions-of-facts{

     display: flex;
     align-items: center;
     justify-content: center;
     gap: 110px;
}

.fact{

    margin-top: 100px;
    margin-bottom: 100px;
    width: 180px;
    height: 180px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: rotate(0deg);
    transition: background-color 2s ease-in-out, transform 1s ease-in-out,border-radius 2s ease-in-out;  
}

.fact:hover{

    background-color: #efc9af;
    transform: rotate(360deg);
    border-radius: 50px;
}

.counted_number{
    font-weight: 600;
    font-size: 35px;
    color: #424242;
}

.fact_title{
    font-weight: 500;
    font-size: 18px;
    color: #727272;
    transition: color 3s;
}
   

/* feedbacks of our services  */

.feedback-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    text-align: center;
    margin: 100px 0;
}

/* feedback title words color*/

.feedbacks-word{
    color: #727272;
    font-weight: 500;
}

.clients-word{
    color:#FF900E;
}

/* --------------------------- */

.clients-feedbacks{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin: 0 90px;
}


.feedback{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.client_image{

    height: 150px;
    width: 150px;
}

.client_name{

    font-weight: 500;
    font-size: 35px;
    color: #131313;

}

.client_comments{

    font-weight: 400;
    font-size: 13px;
    color: #727272;
    margin-top: 10px;
}

.see-more-button{

    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.see-more-text{

    font-weight: 400px;
    font-size: 18px;
    width: 130px;
    height: 45px;
    background-color: #FB8200;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* see more button arrow style */

.fa-arrow-right{

    margin-left: 10px;
}

/* sponsors section */

.sponsors_title{

    font-weight: 700;
    font-size: 40px;
    color: #131313;
    margin-bottom: 20px;
    text-align: center;
}

.sponsors_summary{

    font-weight: 400;
    font-size: 15px;
    color: #727272;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.logos{

    margin-top:50px ;
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
}

.logo{

    width: 120px;
    height: 35px;
}

/* footer section*/

#footer{

    margin: 130px 0;
}

.copyright_text{

    text-align: center;
    color: #424242;
    font-weight: 400;
    font-size: 20px;
}

/* Responsiveness for small device */

@media screen and (max-width:768px) {

         /* header navigation */

    #navigation{

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #navigation_text{

        font-weight: 600;
        font-size: 40px;
        margin: 15px;
    }

    #navigation_list{

        flex-direction: column;
        margin-right: 0px;
    }
    #navigation_list a{

        font-size: 20px;
        padding:20px ;
    }
    

     /* header banner */

    .banner_title_one{

        font-weight: 600;
        font-size: 40px;
        margin-top: 20px;
        text-align:center;
    }
    .banner_title_two{

        font-weight: 600;
        font-size: 40px;
        margin-bottom: 15px;
        text-align: center;
    }
    .banner_summary{

        font-size: 14px;
        text-align: center;
        margin: 0 7px;
    }
    #banner_image{

        width: 100%;
        height: 100%;
    }

/* quick lists of our features section*/

    .features-quick-lists{

        justify-content:center;
        align-items: center;
        flex-direction: column;
        margin:10px 0 0 0;
    }
    .features-quick-lists-images{

        grid-template-columns: repeat(1,1fr);
    }
    .features-quick-lists-image{

        width: 100%;
        height: 100%;
        border-radius:0;
    }
    .features-quick-lists-title{

        font-weight: 400;
        font-size: 40px;
        text-align: center;
    }
  
    .features-quick-lists-summary{

        margin: 20px;
        text-align: center;
    }

    .features-quick-lists-button{

        font-weight: 400;
    }

    .about_features-quick-lists{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

     /* descriptions of features section */

    .descriptions-of-features{

        flex-direction: column;
        gap:40px;
        margin: 0;
    }
    .features-title{

        font-weight: 600;
        font-size: 35px;
        border-left: 3px solid #FF900E;
        padding-left: 8px;
        margin: 30px;
        text-align: center;
    }

    .features-summary{

        text-align: center;
    }

    .features-image img{

        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .experience-button{

        margin: 40px auto;
        position: static;
        bottom: 0;
        left: 0;
        width: 200px;
        height: 120px;
        border-radius: 8px;
    }
    .year-word{

        font-weight: 500;
        font-size: 30px;
    }

    
    /* facts section */

    .facts_title{

        margin:10px 0;
        text-align: center;
    }
    
    .facts_summary{

        margin: 10px 0;
        text-align: center;
    }
    
    .descriptions-of-facts{

        flex-direction: column;
        gap: 10px;
    }

    .fact{

        margin-top: 10px;
        margin-bottom: 10px;
    }

  /* feedbacks of our clients section */

    .clients-feedbacks{

        grid-template-columns: repeat(1,1fr);
        margin: 0 ;
    }

    .feedback{

        flex-direction: column;
    }

    .client_image{

        height: 100px;
        width: 100px;
    }

    .client_name{

        font-weight: 400;
        font-size: 30px;
        text-align: center;
    }

    .client_comments{

        text-align: center;
        margin: 15px 12px;
    }

    .see-more-button{
        justify-content:center;
        align-items: center;
        margin-right: 0px;
        margin-top: 30px;
        margin-bottom: 20px;
}
    
    /* sponsors section */

    .sponsors_title{

        font-weight: 550;
        font-size: 35px;
    }

    .sponsors_summary{

        margin-left: 0;
        margin-right: 0;
    }

    .logos{

        margin-top:30px ;
        gap: 50px;
        flex-direction: column;
    }

    .logo{

        width: 100px;
        height: 35px;
    }  

    /* footer section */

    #footer{
        margin: 100px 10px;
    }

    .copyright_text{
        font-weight: 400;
        font-size: 18px;
    }
}