/* universal Style */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* header style */

#header{
    background-color: rgba(255, 144, 14, 0.1);
}

/* navigation Style */

#navigation{
display: flex;
justify-content: space-between;
}

#navigation_text{
    font-weight: 700;
    font-size: 45px;
    margin: 50px;
}

#navigation_list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navigation_list a{
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    text-decoration: none;
    display: block;
    padding:30px ;
}

/* banner style */

#banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bannner_title_one{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-top: 116px;
}
.bannner_title_two{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-bottom: 32px;
}

.banner_summary{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 10px;
}

#banner_button{
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FF900E;
    border:none;
    width: 160px;
    height: 50px;
    border-radius: 8px;
    margin-top: 32px;
    margin-bottom: 50px;
}

#banner_image{
    width: 80%;
    height: 60%;
    border-radius: 8px;
    display: block;
    padding-bottom: 30px;
}

/* quick lists of our features */

.features_quicklist{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 130px 150px;
    gap:30px;
}

.features_quicklist_images{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}

.features_quicklist_image{
    width: 290px;
    height: 260px;
    border-radius: 8px;
}

.features_quicklist_title{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

/* features quick lists title word color */

.quick_list_word{
    color: #727272;
    font-weight: 500;
}

.features_word{
    color:#FF900E;
}

/* --------------------------------------- */

.features_quicklist_summary{
    font-weight: 400;
    font-size: 12px;
    color: #727272;
    margin-bottom: 28px;
}

.features_quicklist_button{
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FF900E;
    border:none;
    width: 160px;
    height: 50px;
    border-radius: 8px;
}


/* features description */

.features_description{
    display: flex;
    gap:70px;
    align-items: center;
    justify-content: center;
    margin: 130px 50px 130px 90px;
}

.features_title{

    font-weight: 800;
    font-size: 40px;
    color: #131313;
    border-left: 4px solid #FF900E;
    margin-bottom: 24px;
    padding-left: 15px;
    margin-right: 146px;
}

.features_summary{
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    margin-bottom: 30px;
}

.feature{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 30px;
}

.feature_title{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 7px;
}

.feature_summary{
    font-weight: 400;
    font-size: 14px;
    color: #727272;
}

.features_image img{
    width: 620px;
    height: 870px;
    border-radius: 8px;
    display: block;
    position: 
}
.experience_button{
    width: 240px;
    height: 150px;
    background: #FF900E;
    border-radius: 8px;
    padding: 35px;
    color: #FFFFFF;
    border: none;
    position: relative;
    text-align: center;
    right: 50px;
    bottom: 110px;
}

/* experience  button word color */

.year_word{
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
}

/* -------------------------------- */


/* some facts */

.facts_title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-left: 120px;
    margin-bottom: 24px;
}

.facts_summary{
    font-weight: 400;
    font-size: 13px;
    color: #727272;
    margin-left: 120px;
    margin-right: 700px;
}

.facts{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 110px;
}
.fact{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 180px;
    height: 180px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: rotate(0deg);
    transition: background-color 2s ease-in-out, transform 1s ease-in-out,border-radius 2s ease-in-out;
    
}

.fact:hover{
    background-color: #efc9af;
    transform: rotate(360deg);
    border-radius: 50px;
}
.count_number{
    font-weight: 600;
    font-size: 35px;
    color: #424242;
}

.fact_title{
    font-weight: 500;
    font-size: 18px;
    color: #727272;
    transition: color 3s;
}
   

/* Sponsors */

.sponsors_title{
    font-weight: 700;
    font-size: 40px;
    color: #131313;
    margin-bottom: 20px;
    text-align: center;
}

.sponsors_summary{
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.logos{
margin-top:50px ;
display: flex;
gap: 120px;
justify-content: center;
align-items: center;
}

.logo_image{
width: 130px;
height: 40px;
}


/* Responsiveness */

@media screen and (max-width:768px) {

         /* navigation */

    #navigation{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    #navigation_list{
        flex-direction: column;
    }
    #navigation_list a{
        font-weight: 500;
        font-size: 20px;
        padding:20px ;
    }
    #navigation_text{
        font-weight: 600;
        font-size: 40px;
        margin: 10px;
    }

     /* banner */

    .bannner_title_one{
        font-weight: 600;
        font-size: 40px;
        margin-top: 20px;
        text-align:center;
    }
    .bannner_title_two{
        font-weight: 600;
        font-size: 40px;
        margin-bottom: 15px;
        text-align: center;
    }
    .banner_summary{
        font-weight: 400;
        font-size: 14px;
        color: #727272;
        text-align: center;
        margin: 0;
    }
    #banner_image{
        width: 100%;
        height: 100%;
    }

/* quick lists of our features */

    .features_quicklist{
        justify-content:center;
        align-items: center;
        flex-direction: column;
        margin:10px 0 0 0;
        gap:30px;
    }
    .features_quicklist_images{
        grid-template-columns: repeat(1,1fr);
        gap: 15px;
    }
    .features_quicklist_image{
        width: 100%;
        height: 100%;
        border-radius:0;
    }
    .features_quicklist_title{
        font-weight: 400;
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
    }
  
    .features_quicklist_summary{
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 20px;
        text-align: center;
    }
    .features_quicklist_button{
        font-weight: 400;
    }
    .about_features_quicklist{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    <!-- features description -->

    .features_description{
        flex-direction: column;
        gap:40px;
        align-items: center;
        justify-content:center;
        margin: 0;
    }
    .features_title{

        font-weight: 600;
        font-size: 35px;
        border-left: 4px solid #FF900E;
        margin-bottom: 24px;
        padding-left: 10px;
        margin: 20px;
        text-align: center;
    }

    .features_summary{
        font-weight: 400;
        font-size: 14px;
        color: #727272;
        margin-bottom: 30px;
        text-align: center;
    }

    .features_image img{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .experience_button{
        margin: 40px auto;
        position: static;
        bottom: 0;
        left: 0;
    }

        /* some facts */

    .facts_title{
        font-weight: 700;
        font-size: 45px;
        margin:10px 0;
        text-align: center;
    }
    
    .facts_summary{
        font-weight: 400;
        font-size: 13px;
        margin: 10px 0;
        text-align: center;
    }
    
    .facts{
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 10px;
    }
    .fact{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* Sponsors */

     


}